<!DOCTYPE html>
<html>
<head>
  <title>Pokémon Habitat Matcher</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
  <h1>Pokémon Habitat Matcher</h1>

  <div class="container">
    <form method="post">
    {% csrf_token %}
    <p>Location to Scan</p>
    <input name="location" placeholder="Enter a location" required>
    <p>Percentage of Results Shown (Optional)</p>
    <input type="number" placeholder=100 name="pcent" min="10" max="100">
    <button type="submit">Analyze</button>
  </form>
  </div>

  {% if error %}
    <p class="error">{{ error }}</p>
  {% endif %}
</body>
</html>
